<% include ./partials/header %>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Log in to Start</h1>
        <div class="row center">
          <h5 class="header col s12 light">Track your Climbing Now</h5>
        </div>
        <div class="row center">
          <a href="/auth/google" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Login</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/rockclimb1.jpg"></div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">update</i></h2>
            <h5 class="center">Log Your Climbs</h5>

            <p class="light">You will be able to input information about a climbing session that you had. What was the highest grade you climbed? Where did you climb? And what notes do you have about that specific day. Log it all here so that you dont forget.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">trending_up</i></h2>
            <h5 class="center">See Improvements</h5>

            <p class="light">The purpose of this site is so that you can see yourself improving. Many times I see people get discouraged because they don't feel like they are improving at all. So with this information you will have a way to see your improvements.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">User Friendly</h5>

            <p class="light">Making this site easy to use is something important. So here we have made it so that everything is intuitive. It will be quick and easy to input your information into the site. </p>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>      

<footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div>
          <h5 class="white-text">The Goal</h5>
          <p class="grey-text text-lighten-4">The goal of this site is to get you to feel like you are improving in your climbing abilities. So that when you see yours stats you are able to visibly see changes in your activity and help propel you into more climbing. Eventually I would like this to show graphs of your activity instead of just a table, so that you can have a better visual of the work you are putting in.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
</footer>

    
<%include ./partials/footer %>