<% include ../partials/header %>

    <h4>Enter a New Climb</h4>
    <form action="/climbs" method="POST">

        <label>Best Climb:
          <input type="text" name="rating" placeholder="V0"/> 
        </label><br />

      <label>Location:
        <input type="text" name="location" /> 
        </label><br />

      <label>Date:
        <input
          type="datetime-local"
          name="date"
          value="2019-05-28T15:30"
          min="2019-05-28T00:00"
          max="2020-05-28T00:00"
        /> 
        </label><br />

      <label>Notes:
        <input type="text" name="stats" /> 
        </label><br />
      <input type="submit" value="Add Climb" />
    </form>


<%include ../partials/footer %>
